
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path:        "../webfonts";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.router-link-exact-active{
  background-color:blue;
  color: #fff;
}
.router-link-exact-active:hover{
  background-color:blue;
  color: #fff;
}
.mt-3{
  width: 100%;
  
}
.card2{
  height: 160px !important;
  padding:20px;
  background-color: #f6993f;
}
.card3{
  height: 160px !important;
  padding:20px;
  background-color: #f66D9b;
}
.card1{
  height: 160px !important;
  padding:20px;
  background-color: #38c172;
}
.card1, .card2, .card3, .i{
  font-size:40px;
}
h5{
  font-weight:bold;
}
